
.App {
  text-align: center;
  max-width: 100%; /* Ocupa toda la pantalla */
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.note {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffe0;
}

.note.border-danger {
  border-color: red; /* Borde rojo para notas importantes */
  background: #ffe6e6; /* Fondo rojo claro para notas importantes */
}

/* Ajustes para el formulario */
form {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Para que los elementos se envuelvan si es necesario */
}

.form-group {
  margin: 0; /* Elimina el margen por defecto */
  flex: 1; /* Hace que el input ocupe el espacio disponible */
}

.form-check {
  margin-right: 0px;
}
